:root {
    --text-color: #e2e2e2;
    --accent-color: #696969;
}

.app-info{
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    transition: 0.3s;
}

.app-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
}

.app-card {
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    transition: 0.3s;
}

.app-card:hover {
    transform: scale(1.05);
}

.app-card h2 {
    font-size: 1.5rem;
}

.app-card p {
    font-size: 1.2rem;
}

.app-card a {
    border-radius: 5px;
    color: var(--text-color);
    display: block;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

  